.ToDoItem {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;
    border-bottom: 1px solid #f5f4f0
}

.ToDoItem:last-child {
    border-bottom: none;
}

.ToDoItem:hover {
    background: #fafaf8;
}

.ToDoItem input[type="checkbox"] {
    width: 17px;
    height: 17px;
    accent-color: #4a3a2f;
    cursor: pointer;
    flex-shrink: 0;
}

.ToDoItem .content {
    flex: 1;
    font-size: 15px;
    color: #1a1a1a;
}

.ToDoItem .content_done {
    flex: 1;
    font-size: 15px;
    text-decoration: line-through;
    color: #bbb;
}

.ToDoItem .editing {
    width: 140px;
    border: 1px solid #eae9e4;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 15px;
    font-family: 'DM Sans', sans-serif;
    outline: none;
}

.ToDoItem input[type="date"] {
    width: 130px;
    border: 1px solid #eae9e4;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 13px;
    font-family: 'DM Sans', sans-serif;
    outline: none;
}

.ToDoItem .date {
    font-size: 14px;
    color: #aaa;
    white-space: nowrap;
}

.ToDoItem .actions {
    display: flex;
    gap: 4px;
    opacity: 1;
    transition: opacity 0.15s;
}

.ToDoItem:hover .actions {
    opacity: 1;
}

.ToDoItem button {
    cursor: pointer;
    color: #555;
    font-size: 12px;
    background: white;
    border: 1px solid #eae9e4;
    border-radius: 6px;
    padding: 4px 10px;
    font-family: 'DM-Sans', sans-serif;
}

.ToDoItem button:hover {
    border-color: #aaa;
    color: #1a1a1a;
}

.ToDoItem button.delete:hover {
    border-color: #f09595;
    color: #a32d2d;
    background: #fcebeb;
}

.ToDoItem .urgent .circle {
    width: 8px;
    height: 8px;
    background: #e24b4a;
    border-radius: 50%;
}

.ToDoItem .warning .circle {
    width: 8px;
    height: 8px;
    background: #ffda08;
    border-radius: 50%;
}

.ToDoItem .safe .circle {
    width: 8px;
    height: 8px;
    background: #639922;
    border-radius: 50%;
}

.ToDoItem .safe .null {
    width: 8px;
    height: 8px;
    background: transparent;
    border-radius: 50%;
}